@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.screen { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: #FCF5E5;
    background-color: lightgrey;

    .img_background {
        position: fixed;
    }
}

.card {
    border: 0.5px solid lightgrey;
    background-color: #fff;
    //border-radius: 15px;
    text-align: center;
    padding: 30px;
    z-index: 1000;

    .header{
        margin-top: 15px;
        margin-bottom: 40px;
        text-align: left;
        width: 100%;
    }

    .title {
        width: 100%;
        font-family: 'Rajdhani', sans-serif;
        //font-family: 'Indie Flower', cursive !important;
        font-size: 50px;
        margin: 0;
        color: #FE9E22;
    }

    .subtitle {
        //font-family: 'Raleway', sans-serif !important;
        width: 100%;
        font-family: 'Arial', bold !important;
        font-size: 25px;
        margin-bottom: 0;
    }

    .create_account { }

    .mat-form-field { 
        width: 100%;
    }

    .remember {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;

        .remember_checkbox { 
            color: grey;
            text-indent: 15px;
        }
    }

    .mat-flat-button {
        width: 100%;
        font-size: 18px;
        padding: 10px 10px 10px 10px;
        text-transform: uppercase;
    }

    .mat-checkbox-inner-container {
        height: 20px !important;
        width: 20px !important;
    }

    .error {
        margin-top: 20px;
        width: 95%;
        background-color: #FF6C65;
        color: white;
        text-align: left;
        padding: 5px 10px 5px 10px;
    }

}