<div class="screen">
    <img alt='' class="img_background" src="../../../assets/home.svg"/>
    <div class="signin card">
        <div class="header">
            <p class="title">
                Medical Health
            </p>
            <p class="subtitle">
                Welcome back to ADP Medical Health
            </p>
            <p class="create_account">
                New here? <a [routerLink]='["/sign-up"]'>Create an account.</a>
            </p>
        </div>
        <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@example.com" [(ngModel)]='user.email'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="*******" [(ngModel)]='user.password'>
            </mat-form-field>
        </div>
        <div class="remember">
            <section class="">
                <mat-checkbox class="remember_checkbox"> Remember this device.</mat-checkbox>
            </section>
        </div>
        <button mat-flat-button color='primary' (click)='login();'>Sign In</button>
    </div>
</div>